[workspace]
members = [".", "auth", "core", "http", "http_axum", "macro_proc", "macro_utils", "macro_utils_proc", "tracing"]
resolver = "2"

[package]
name = "grand-line"
version = "0.0.0"
edition = "2024"

[lib]
name = "grand_line"
path = "lib.rs"

[features]
default = ["postgres", "default_without_db"]
default_without_db = ["auth", "http", "axum"]
# db
sqlite = ["_core/sqlite"]
mysql = ["_core/mysql"]
postgres = ["_core/postgres", "_auth/postgres"]
# debug macro flags
debug_macro_cli = ["_core/debug_macro_cli"]
debug_macro_file = ["_core/debug_macro_file"]
# model flags
no_created_at = ["_core/no_created_at"]
no_updated_at = ["_core/no_updated_at"]
no_deleted_at = ["_core/no_deleted_at"]
no_by_id = ["_core/no_by_id"]
# resolver flags
resolver_inputs = ["_core/resolver_inputs"]
resolver_output = ["_core/resolver_output"]
no_tx = ["_core/no_tx"]
no_ctx = ["_core/no_ctx"]
no_include_deleted = ["_core/no_include_deleted"]
no_permanent_delete = ["_core/no_permanent_delete"]
# tracing
tracing = ["_tracing", "_core/tracing"]
# testing
test_utils = ["pretty_assertions", "serde", "thiserror"]
# http
http = ["_http"]
axum = ["_http/axum", "_auth/axum"]
# biz
auth = ["_auth", "_core/auth"]

[dependencies]
_auth = { path = "./auth", optional = true, default-features = false, features = [] }
_core = { path = "./core", default-features = false, features = [] }
_http = { path = "./http", optional = true, default-features = false, features = [] }
_tracing = { path = "./tracing", optional = true, default-features = false, features = [] }
_utils = { path = "./macro_utils", default-features = false, features = [] }
pretty_assertions = { version = "1.4.1", optional = true, default-features = false, features = ["std"] }
serde = { version = "1.0.228", optional = true, default-features = false, features = ["derive", "std"] }
thiserror = { version = "2.0.17", optional = true, default-features = false, features = [] }
